body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body > header-component, body > content-component, body > footer-component {
    margin: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}